@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  body {
    @apply bg-[#3c3c53];
  }
} 
 
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Mona Sans", sans-serif;
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  height: 100%;
}
@layer components {
  .hero-banner {
    width: 97%;
    height: 250px;
    position: relative;
    overflow: hidden;
    
  }

  .hero-banner img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    
  }
}

.slide {
  display: inline-block;
  height: 3rem; /* výška jednej položky */
  overflow: hidden;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  animation: slideUp 8s linear infinite;
}

.slide {
  overflow: hidden;
  height: 2rem; 
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  animation: slideUp 12s linear infinite;
}

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}
