@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");




@layer base {
  body {
    @apply bg-[#154649];
  }
} 
 
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Mona Sans", sans-serif;
  scroll-behavior: smooth;
}

#root {
  width: 100%;
  height: 100%;
}

@layer components {
  .hero-banner {
    width: 97%;
    height: 250px;
    position: relative;
    overflow: hidden; 
  }

  .hero-banner img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;   
  }
  .contact-btn {
            @apply flex;

            .inner {
                @apply px-5 py-2 rounded-lg bg-white text-black group-hover:bg-black-50 transition-colors duration-300;

                span {
                    @apply group-hover:text-white transition-colors duration-300;
                }
            }
        }
    }

.cta-wrapper {
        @apply relative z-20 cursor-pointer;
    }

    .cta-button {
        @apply px-4 py-4 rounded-lg bg-gray-200 inline-flex justify-center items-center relative cursor-pointer overflow-hidden;

        .bg-circle {
            @apply absolute -right-12 origin-center top-1/2 -translate-y-1/2
            w-[120%] h-[120%] group-hover:scale-110 group-hover:right-10
            rounded-full bg-white transition-all duration-500;
        }

        .text {
            @apply uppercase md:text-lg text-black transition-all duration-500 transform
            group-hover:text-white group-hover:-translate-x-5 xl:translate-x-0 -translate-x-5;
        }

        .arrow-wrap {
            @apply group-hover:bg-white w-10 h-10 rounded-full absolute right-10 top-1/2
            -translate-y-1/2 flex justify-center items-center overflow-hidden;

            img {
                @apply w-5 h-5 xl:-translate-y-32 translate-y-0 animate-bounce group-hover:translate-y-0 transition-all duration-500;
            }
        }
    }
.slide {
  display: inline-block;
  height: 3rem; /* výška jednej položky */
  overflow: hidden;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  animation: slideUp 8s linear infinite;
}

.slide {
  overflow: hidden;
  height: 2rem; 
  position: relative;
}

.footer {
        @apply mt-10 md:mt-14 mb-6 text-white px-6 sm:px-8 py-6 max-w-6xl mx-auto md:px-20 xl:px-20 flex items-center justify-center;

        .footer-container {
            @apply grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-0 w-full;
        }

        p {
            @apply text-center md:text-start;
        }

        .socials {
            @apply flex items-center justify-center gap-5;

            .icon {
                @apply border border-black bg-transparent flex justify-center items-center rounded-xl size-10 md:size-12 cursor-pointer transition-all duration-500 hover:bg-black;
            }

            img {
                @apply inline-block;
                filter: invert(1);
                transation: filter 0.3s ease;
            }

            img:hover {
                filter: invert(0.5) sepia(1) saturate(5) hue-rotate(180deg);
            }
        }
    }

@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}
