@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");




@layer base {
  body {
    @apply bg-[#133f41];
  }
} 
 
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Mona Sans", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 96px;
}

#root {
  width: 100%;
  height: 100%;
}

@layer components {
  .hero-banner {
    height: 250px;
    position: relative;
    overflow: hidden; 
    margin-left: auto;
    margin-right: auto;
  }

  .hero-banner img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;   
  }
  .contact-btn {
            @apply flex;

            .inner {
                @apply px-5 py-2 rounded-lg bg-amber-400/90 text-black transition-colors duration-300;

                span {
                    @apply group-hover:text-white transition-colors duration-300;
                }
            }
        }
    }

/* .cta-wrapper {
        @apply relative z-20 cursor-pointer;
    } */

    

.slide {
  display: inline-block;
  height: 2rem; 
  overflow: hidden;
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  animation: slideUp 8s linear infinite;
}

.footer {
        @apply mt-10 md:mt-14 mb-6 text-white px-6 sm:px-8 py-6 max-w-6xl mx-auto md:px-20 xl:px-20 flex items-center justify-center;

        .footer-container {
            @apply grid grid-cols-1 md:grid-cols-3 gap-5 md:gap-0 w-full;
        }

        p {
            @apply text-center md:text-start;
        }

        .socials {
            @apply flex items-center justify-center gap-5;

            .icon {
                @apply border border-black bg-transparent flex justify-center items-center rounded-xl size-10 md:size-12 cursor-pointer transition-all duration-500 hover:bg-black;
            }

            img {
                @apply inline-block;
                filter: invert(1);
                transation: filter 0.3s ease;
            }

            img:hover {
                filter: invert(0.5) sepia(1) saturate(5) hue-rotate(180deg);
            }
        }
    }

.navbar {
        @apply fixed w-full left-1/2 py-5 px-5 md:px-20 -translate-x-1/2 z-[100] transition-all duration-300 ease-in-out;

        &.scrolled {
            @apply top-0 bg-[#133f41];
        }

        &.not-scrolled {
            @apply   bg-transparent;
        }

        .inner {
            @apply mx-auto flex items-center justify-between  group-hover:bg-cyan-600/90;
        }

        /* .logo {
            @apply text-white text-xl md:text-2xl font-semibold transition-transform duration-300 hover:scale-105;
        } */

        nav.desktop {
            @apply hidden lg:flex items-center;

            ul {
                @apply flex space-x-8;

                li {
                    @apply text-white relative;

                    span {
                        @apply transition-colors duration-300 hover:text-white;
                    }

                    .underline {
                        @apply absolute -bottom-1 left-0 w-0 h-0.5 bg-white transition-all duration-300 group-hover:w-full;
                    }
                }
            }
        }
      }
    
@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}
